
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Sackers Gothic Light AT', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  font-family: 'Roboto', sans-serif;
}

li {list-style-type: none;}
